.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: rem(40) rem(15);
    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: rem(40);
    }
  }

  &__logo {
    @include adaptiveValue("width", 269, 200);
  }

  &__social-list {
    display: flex;
    column-gap: rem(25);
  }

  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(48);
    height: rem(48);
    border: 1px solid $mainColor;
    border-radius: 50%;
    transition: 300ms;
  }

  &__social-item:hover {
    color: $white;
    background-color: $mainGold;
    border-color: white;
    transition: 200ms;
  }
}
