//====================================================================================================
.header {
  min-height: rem(900);
  width: 100%;
  @include adaptiveValue("margin-bottom", 80, 30);
  color: $white;
  background: url('@img/background.jpg') 0 0 no-repeat;
  background-size: cover;
  background-color: rgba(12, 1, 73, 0.4);
  background-blend-mode: multiply;

  &__navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(55) 0;
  }
}

.navigate {
  &__menu {
    padding: 0 rem(15);
  }

  &__call {
    justify-self: end;
  }
}

.logo {
  margin-right: rem(30);
  &__image {
    @include adaptiveValue("max-width", 269, 200);
  }
  
}

.menu {
  margin-right: rem(30);
  &__list {
    display: flex;
    @include adaptiveValue("column-gap", 45, 15);
  }

  &__item {
    transition: 200ms;
    &:hover {
      color: $mainGold;
      transition: 200ms;
    }
  }
}

.call {
  &__link {
    display: flex;
    align-items: center;
    transition: 200ms;
    &:hover {
      color: $mainGold;
      transition: 200ms;
    }
  }
  @media (max-width: 1024px) {
    span {
      display: none;
    }
    svg {
      margin: 0;
    }
  }

  @media (max-width: $tablet) {
    margin-right: rem(100);
  }

  @media (max-width: $mobileSmall) {
    display: none;
  }

  &__image {
    margin-right: rem(13);
    stroke: $mainGold;
  }
}

.info-header {
  @include adaptiveValue("padding-top", 100, 15);
  @include adaptiveValue("padding-bottom", 265, 30);
  &__open-time {
    margin-bottom: rem(24);
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 18);
    @include adaptiveValue("line-height", 100, 50);
    hyphens: manual;
  }

  &__slogan {
    margin-bottom: rem(40);
    font-weight: 700;
    @include adaptiveValue("font-size", 64, 45);
    @include adaptiveValue("line-height", 100, 50);
  }

  &__links {
    font-size: rem(24);
  }
}

.links-header {
  display: flex;
  justify-content: space-between;
  &__reserve {
    @extend %button;
  }

  &__social-links {
    display: flex;
    column-gap: rem(25);
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    &__reserve {
      @include adaptiveValue("margin-bottom", 50, 100);
    }
  }
}

.social-links-header {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(48);
    height: rem(48);
    border: 1px solid $white;
    border-radius: 50%;
    cursor: pointer;
    transition: 500ms;
    &:hover {
      color: $mainColor;
      background-color: $mainGold;
      border-color: $mainGold;
      transition: 500ms;
    }
  }
}

.menu {
  top: rem(70);
  right: 0;
  @media (max-width: $tablet) {
    position: absolute;
    .navigate {
      &__menu {
        margin: 0;
        padding: rem(15) 0;
      @media (max-width: $mobileSmall) {
        padding: rem(15);
        background-color: #000000ce;
        border-radius: rem(5);
      }
      }
    }
  
    .menu {
      &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        row-gap: rem(15);
        font-size: rem(20);
        text-align: end;
      }
    }
  }
}

//Burger

.icon-menu {
  right: 0;
  margin-left: auto;
  margin-bottom: rem(15);
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before, 
      &::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

