.our-menu {
  @include adaptiveValue("padding-top", 110, 30);
  @include adaptiveValue("padding-bottom", 110, 30);

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
  }
}

.list-our-menu {

  &__item {
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__info {
    &:nth-child(odd) {
      margin-right: rem(30);
    }
    &:nth-child(even) {
      margin-left: rem(30);
    }
    @media (max-width: 991px) {
      margin-bottom: rem(30);
    }
  }
  

  &__name {
    position: relative;
    margin-bottom: rem(20);
    font-weight: 700;
    font-size: rem(40);
    line-height: rem(88);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: rem(-50);
      width: rem(108);
      height: rem(2);
      color: $mainGold;
      border-bottom: 2px solid $mainGold;
    }

    @media (max-width: 991px) {
      @include adaptiveValue("font-size", 40, 23, 991, 320);
    }
  }

  &__description {
    font-size: rem(16);
    line-height: rem(32);
  }

  &__image {
    img {
      width: rem(670);
      height: rem(560);
      @media (max-width: 1440px) {
        @include adaptiveValue("width", 670, 469, 1440, 991);
        @include adaptiveValue("height", 560, 392, 1440, 991);
      }
      @media (max-width: 991px) {
        @include adaptiveValue("width", 670, 268, 991, 320);
        @include adaptiveValue("height", 560, 224, 991, 320);
      }
    }
  }
}